<!DOCTYPE html>
<html>
<head>
    <title>Approximate real-time option price calculator based on Heston model</title>
    <script type="text/javascript" id="MathJax-script" async
        src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <script>
        // Set the default value of "Date of Today" input field to today's date
        document.addEventListener("DOMContentLoaded", function() {
            var today = new Date().toISOString().split('T')[0];  // Get today's date in YYYY-MM-DD format
            document.getElementById('Date of Today').value = today;  // Set the value to the input field
        });
    </script>
</head>
<body>
    <h1>Approximate Euro call price calculator</h1>
    <form action="/" method="POST">
        <label for="Company">Company:</label>
        <select id="Company" name="Company">
            <option value="AAPL">AAPL</option>
            <option value="GOOGL">GOOGL</option>
            <option value="AMZN">AMZN</option>
        </select>
        <br><br>

        <label for="Date of Today">Date of Today:</label>
        <input type="date" id="Date of Today" name="Date of Today" required>
        <br><br>
        
        <label for="Maturity">Maturity:</label>
        <input type="date" id="Maturity" name="Maturity" required>
        <br><br>
        
        <label for="Moneyness">Moneyness: <span id="moneyness-latex">$$\frac{\text{Current Price} - \text{Strike Price}}{\text{Current Price}}$$</span></label>
        <input type="number" step="0.0001" id="Moneyness" name="Moneyness" required>
        <br><br>
        
        <label for="Strike">Strike Price:</label>
        <input type="number" step="0.0001" id="Strike" name="Strike" required>
        <br><br>
        
        <button type="submit">Compute</button>
    </form>
</body>
</html>
